**/node_modules/
**/storage/scans
**/storage/pipeline_visualizations
__pycache__/
*.pyc
**/compute/cv/tests/fixtures/images/*.png
**/compute/cv/tests/output
**/compute/cv/tests/fixtures/images/*.png
**/compute/cv/tests/fixtures/images/*.jpg
**/compute/cv/tests/fixtures/*.png
**/compute/cv/tests/fixtures/*.jpg
**/.env